.phoneIco__iPhone8 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin: 3px 5px;
}

.phoneIco__iPhone8 img {
  height: 15px;
  width: 20px;
  margin: 0 auto;
}

.phoneIco__left,
.phoneIco__left-item,
.phoneIco__center,
.phoneIco__right,
.phoneIco__right-item {
  display: inherit;
  align-items: center;
  text-align: center;
}

.phoneIco__left-item:last-child {
  margin-left: 5px;
}

.phoneIco__left-item img {
  height: 10px;
  width: 15px;
  margin: 0 auto;
  margin-right: 5px;
}